@page
@using Microsoft.Data.Sqlite

@model PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>
<body>
    <h2>Introduction</h2>
    <p>Welcome to our web application! This privacy policy outlines how we collect, use, share, and protect your personal information. </p>


    <h2>Data Sharing</h2>
    <p>We do not sell or share your personal information with third parties. </p>

  
</body>
</html>
